<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
    <table>
        <tr>
            <th class="admin"> Ticket ID </th>
            <th class="admin"> Seller Name </th>
            <th class="admin"> Buyer Name </th>
            <th class="admin"> Product Name </th>
            <th class="admin"> Price </th>
            <th class="admin"> Quantity </th>
            <th class="admin"> Payment Method</th>
        </tr>
        <tr>
            <td class="admin"> 0000001 </td>
            <td class="admin"> Bob </td>
            <td class="admin"> Boba </td>
            <td class="admin"> Chocolate </td>
            <td class="admin"> ₱100.00 </td>
            <td class="admin"> 1 </td>
            <td class="admin"> GCash </td>
        </tr>
    </table>
</div>