<table class="catalog">
    <tr>
        <!-- REPEAT -->
        <td class="catalog">
            <table class="catalog">
                <tr>
                    <td>
                        <img src="../../images/logo.png" class="catalog" alt="product">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="item">Item #1</p>
                        <p class="price">₱100.00</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn_catalog" type="button" value="Order Now">
                        <input class="btn_catalog" style="background:#263B5B" type="button" value="Learn More">
                    </td>
                </tr>
            </table>
        </td>

        <!-- REPEAT -->
        <td class="catalog">
            <table class="catalog">
                <tr>
                    <td>
                        <img src="../../images/logo.png" class="catalog" alt="product">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="item">Item #1</p>
                        <p class="price">₱100.00</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn_catalog" type="button" value="Order Now">
                        <input class="btn_catalog" style="background:#263B5B" type="button" value="Learn More">
                    </td>
                </tr>
            </table>
        </td>

        <!-- REPEAT -->
        <td class="catalog">
            <table class="catalog">
                <tr>
                    <td>
                        <img src="../../images/logo.png" class="catalog" alt="product">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="item">Item #1</p>
                        <p class="price">₱100.00</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn_catalog" type="button" value="Order Now">
                        <input class="btn_catalog" style="background:#263B5B" type="button" value="Learn More">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>