<ul class="header">
  <li style="float:left"><a href="/" class="header"><img src="../../images/logo.png" alt="logo" width="25" height="25"></a></li>
  <li><a href="/logout" class="header">Logout</a></li>
  <li><a href="/profile/<%= _id %>" class="header"> <%= email %> </a></li>
  <li><a href="/product" class="header">Sell Something!</a></li>
  <li><a href="/" class="header">Shopping Centre</a></li>  
</ul>
