<ul class="header">
  <li style="float:left"><a href="/" class="header"><img src="../../images/logo_cropped.png" alt="logo" width="25" height="25"></a></li>
  <li><a href="/logout" class="header">Logout</a></li>
  <li><a href="/profile/<%= _id %>" class="header"> <%= email %> </a></li>
  <% if (isSeller) { %>
  <li><a href="/product" class="header">Sell Something!</a></li>
  <% } %> 
  <% if (isSeller) { %>
  <li><a href="/product" class="header"> Transaction Tickets </a></li>
  <% } %>  
  <li><a href="/" class="header"> Shopping Centre </a></li>
  <% if (isAdmin) { %>
  <li><a href="/" class="header"> Content Moderation </a></li>  
  <% } %>   
</ul>
