body {
  background-color: white;
  color: #9F9F9F;
  font-family: Roboto;
  font-size: 15px;
}

body.alternate {
  background-color: #263B5B;
}

.row {
  margin: 0 1px;
}

a {
  color:#407688; 
  text-decoration: underline;
}

a.seller {
  color:#263B5B; 
  text-decoration: none;
}

div.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.login_box {
  width: 830px;
  height: 599px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.contents {
  text-align: center;
}

h1.login_MCM {
  color: #263B5B;
  font-weight: bold;
  font-size: 30px;
}

input.login_text {
  width: 538px;
  height: 53px;
  font-family: Lato;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

p.small_text {
  font-family: Lato;
}

input.big_button {
  width: 161px;
  height: 51px;
  background: #C12727;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

table {
  margin: auto;
}

div.new_signup_box{
  width: 830px;
  height: 705px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.edit_signup_box{
  width: 830px;
  height: 555px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table.signup {
  border-collapse: separate;
  border-spacing: 20px 15px;
}

.no-line {
  text-decoration: none;
}

nav.header {
  width: 100%;
  height: 73px;
  background-color: #263B5B;
  padding: 1px;
}

nav#header-nav {
  background-color: #263B5B;
  color: #263B5B;
}

ul.header {
  list-style-type: none;
  padding: 0px 80px;
}

li.header {
  float: right;
}

li a.header {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px 0px;
  text-decoration: none;
}

li a{
  color:#263B5B;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

div.footer {
  width: 100%;
  height: auto;
  max-height: 25vh; 
  overflow: auto;
  background-color: #263B5B;
  align-items: center;
  padding: 20px;
  color: #C4C4C4;
  text-align: left;
  font-size: 12px;
}

div#productPlacements.container {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
}

div.placedProduct {
  padding-bottom: 30px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 80px 0px 30px;
}

li.menu {
  float: center;
  display: inline;
  padding: 20px 20px;
}

a:hover {
  color: #407688
}

input.search_button {
  width: 75px;
  height: 51px;
  background: #263B5B;
  color: white;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08); */
  font-size: 15px;
  border: none;
}

/* table.catalog {
  border-spacing: 20px;
  border-collapse: separate;
} */

td {
  text-align: center;
}

div.catalog {
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* width: 377px; */
  height: 524px;
}

img.catalog {
  width: 341px;
  height: 259px;
}

h1.item {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

p.price {
  font-family: Roboto;
  font-size: 30px;
  color: #0DA313;
  line-height: 25%;
}

input.btn_catalog {
  width: 161px;
  height: 51px;
  background: #C12727;
  color: white;
  position: relative;
  font-family: Roboto;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

form.form_inline {
  display: inline-block;
}

input.txt_profile {
  width: 538px;
  height: 53px;
  position: relative;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border: none;
  padding: 20px;
}

p.profile_products {
  color: #C12727;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

table.profile {
  /* width: 1317px; */
  width: auto;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-spacing: 50px;
  border-collapse: separate;
}

p.profile_contact {
  font-family: Roboto;
  font-size: 30px;
  color: #263B5B;
  text-align: left;
  line-height: 75%;
}

p.profile_icon {
  font-family: Roboto;
  font-size: 25px;
  color: #263B5B;
  text-align: left;
  font-weight: bold;
}

img.profile_icon {
  width: 25px;
  height: 25px;
}

table.product {
  border-spacing: 80px 10px;
  border-collapse: separate;
}

td.product {
  text-align: left;
}

textarea.product {
  width: 100%;
  height: 250px;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

input.txt_product {
  width: 179px;
  height: 53px;
  position: relative;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 250px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background: white;
  margin: auto;
  padding: 20;
  width: 363px;
  /* height: 180px; */
  border: none;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 15px;
}

.close {
  color:#9F9F9F;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

select.product_avail {
  width: 179px;
  height: 53px;
  position: relative;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0px 20px 0px ;
}

p.error_caption {
  font-size: 20px;
}

input.txt_signup {
  width: 331px;
  height: 53px;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

input.btn_signup {
  width: 246px;
  height: 51px;
  background: #C12727;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 20px;
  border: none;
}

table.view_product {
  width: 1175px;
  height: 519px;
  border-collapse: separate;
  /* border: 3px solid green; */
}

td.view_product {
  padding: 50px 0px 50px 50px;
  text-align: left;
}

input.view_product {
  width: 174px;
  height: 41px;
  background: #F0F0F0;
  color: #787878;
  position: relative;
  font-family: Roboto;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

input.btn_product {
  width: 183px;
  height: 51px;
  background: #0DA313;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 20px;
  border: none;
}

th.admin, td.admin {
  border-style: solid;
  border-collapse: collapse;
  color: black;
  font-family: Roboto;
  font-size: 15px;
  padding: 10px 20px 10px;
  text-align: center;
}

input.btn_admin {
  width: 137px;
  height: 38px;
  background: #0DA313;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 15px;
  border: none;
}