body {
  background:#263B5B;
  color: #9F9F9F;
  font-family: Lato;
  font-size: 13px;
}

table.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 830px;
  height: 599px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* overflow: hidden; */
}

table {
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid green; */
  /* padding: 10px; */
}

table.login_title {
  /* width: 384px; */
  width: 100%;
  height: 159px;
  top: 55px;
  /* left: 223px; */
  position: absolute;
  text-align: center;
}

p.login_MCM {
  /* width: 384px; */
  color: #263B5B;
  background: none;
  position: relative;
  /* top: 124px; */
  /* left: 0px; */
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

/* WORKS */
table.login_txtfield {
  /* width: 538px; */
  width: 100%;
  /* height: 126px;  */
  height: 175px; 
  position: absolute;
  top: 246px;
  /* left: 147px; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
  text-align: center;
}

input.txt_login {
  width: 538px;
  height: 53px;
  position: relative;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

td.login_dot {
  /* width: 538px; */
  position: relative;
  color: white;
  background: none;
  font-family: Roboto;
  font-style: italic;
  font-size: 15px;
  /* text-align: left; */
  /* border: 3px solid green; */
}

td.login_error {
  position: relative;
  color: #C12727;
  font-family: Roboto;
  font-style: italic;
  font-size: 15px;
}

table.login_btn {
  /* width: 300px; */
  width: 100%;
  height: 100px;
  background: none;
  position: absolute;
  /* top: 478px; */
  top: 465px;
  /* left: 324px; */
  text-align: center;
}

input.btn_login {
  width: 161px;
  height: 51px;
  background: #C12727;
  color: white;
  position: relative;
  /* top: 0px; */
  /* left: 11px; */
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 20px;
  border: none;
  /* text-align: center; */
}

a {
  color:#407688; 
  text-decoration: underline;
}

ul.header {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background: none;
  padding: 0px 80px;
  background: #263B5B;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 80px 0px 30px;
}

li a{
  float: center;
  color:#263B5B;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  text-decoration: none;
}

li a.header {
  float: right;
  color: white;
  padding: 20px 20px;
}

li.menu {
  display: inline;
  padding: 20px 20px;
}

li.footer {
  float: left;
  color: #C4C4C4;
  text-align: center;
  padding: 80px 20px;
  font-size: 20px;
}

a:hover {
  color: #407688
}

input.btn_search {
  width: 75px;
  height: 51px;
  background: #263B5B;
  color: white;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  /* top: 0px; */
  /* left: 11px; */
  font-family: Roboto;
  font-size: 15px;
  border: none;
  /* text-align: center; */
}

table.catalog {
  /* width: 750px;
  height: 1000px;
  padding: 100px; */
  border-spacing: 20px;
  border-collapse: separate;
}

td {
  text-align: center;
}

td.catalog {
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 377px;
  height: 524px;
}

img.catalog {
  width: 341px;
  height: 259px;
}

p.item {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

p.price {
  font-family: Roboto;
  font-size: 30px;
  color: #0DA313;
  line-height: 25%;
}

input.btn_catalog {
  width: 161px;
  height: 51px;
  background: #C12727;
  color: white;
  position: relative;
  font-family: Roboto;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

form.form_inline {
  display: inline-block;
}

input.txt_profile {
  width: 538px;
  height: 53px;
  position: relative;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border: none;
  padding: 20px;
}

p.profile_products {
  color: #C12727;
  background: none;
  position: relative;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

table.profile {
  width: 1317px;
  /* height: 62px; */
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-spacing: 50px;
  border-collapse: separate;
}

p.profile_contact {
  font-family: Roboto;
  font-size: 30px;
  color: #263B5B;
  text-align: left;
  line-height: 75%;
}

p.profile_icon {
  font-family: Roboto;
  font-size: 25px;
  color: #263B5B;
  text-align: left;
  font-weight: bold;
}

img.profile_icon {
  width: 25px;
  height: 25px;
}

table.product {
  border-spacing: 80px 10px;
  border-collapse: separate;
}

td.product {
  text-align: left;
}

textarea.product {
  width: 100%;
  height: 250px;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

input.txt_product {
  width: 179px;
  height: 53px;
  position: relative;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 225px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 363px;
  height: 180px;
  border: none;
}

.close {
  color: #263B5B;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

select.product_avail {
  width: 179px;
  height: 53px;
  position: relative;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0px 20px 0px ;
}

p.error_caption {
  font-family: Roboto;
  font-size: 20px;
}

input.txt_signup {
  width: 331px;
  height: 53px;
  font-size: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 20px;
}

input.btn_signup {
  width: 246px;
  height: 51px;
  background: #C12727;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 20px;
  border: none;
}

table.signup {
  width: 700px;
  height: 625px;
}