<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Product - MCM Virtual Marketplace </title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-12" style="color: black;"> 
                        <h1> How to Order </h1>
                        <p> 
                            1. Surf through the items <br>
                            2. Click the “ORDER NOW” button for the chosen item <br>
                            3. Input quantity of order <br>
                            4. Click Confirm Order <br>
                            5. An email will be sent by the Malayan Virtual Marketplace for the seller’s confirmation of order/s <br>
                            6. Once confirmed by the seller, the seller will directly contact the buyer/s through the buyer’s given contact details <br>
                            7. Student buyer must prepare before-hand the informed consent to be signed by their parents/guardians. Once completed, the buyer will send the completed informed consent to the seller. </p>                                  
                    </div>  
                </div>
            </div>
                                  
        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
            
    </body>
</html>