<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Product - MCM Virtual Marketplace </title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12" style="color: black;"> 
                        <h1> How to Order </h1>
                        <p> 
                            1. Surf through the items <br>
                            2. Click the “ORDER NOW” button for the chosen item <br>
                            3. Input quantity of order <br>
                            4. Click Confirm Order <br>
                            5. An email will be sent by the Malayan Virtual Marketplace for the seller’s confirmation of order/s <br>
                            6. Once confirmed by the seller, the seller will directly contact the buyer/s through the buyer’s given contact details <br>
                            7. Student buyer must prepare before-hand the informed consent to be signed by their parents/guardians. Once completed, the buyer will send the completed informed consent to the seller. 
                        </p>
                    </div>  

                    <div class="col-12" style="color: black;"> 
                        <h1> How to Pay for the Order: </h1>
                        <p> 
                            1. Seller will provide the payment options to the buyer <br>
                            2. For item delivery, the seller will book his/her preferred rider/courier to deliver the items <br>
                            3. Meetups are HIGHLY DISCOURAGED. <br>
                            4. For further questions, please contact CGC service unit number 09985950023 and look for Sir Jhun/Sir Bong. <br>
                        </p>
                    </div>

                    <div class="col-12" style="color: black;"> 
                        <h1> Reminders for Buyers: </h1>
                        <p> 
                            1. No joy-reservers/bogus buyers <br>
                            2. Honour your commitment to buy the item/s ordered <br>
                            3. Part of the proceeds will be donated to PAID FUND (a scholarship for Malayans by Malayans) <br>
                            4. All contents, products, and items provided in the Malayan Virtual Marketplace are provided "as is" without warranty of any kind, either expressed or implied. The Buyer is solely responsible for the appropriateness of the website, its content, and items/products offered by Malayan Virtual Marketplace for the buyer's intended use. Subject to the terms of any agreement between the buyer and seller, Malayan Virtual Marketplace will not be held liable for any consequential, incidental, or punitive damages of the items/products ordered. <br>
                        </p>
                    </div>

                    
                </div>
            </div>
                                  
        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
            
    </body>
</html>