<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> MCM Virtual Marketplace </title>
    </head>
    <body style="background:white">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <ul class="menu">
                <li class="menu"><a href="/">All Categories</a></li>
                <li class="menu"><a href="/catalog/health&beauty">Health & Beauty</a></li>
                <li class="menu"><a href="/catalog/food">Food</a></li>
                <li class="menu"><a href="/catalog/digitalproducts">Digital Products</a></li>
                <li class="menu"><a href="/catalog/electronics">Electronics</a></li>
            </ul>

            <table>
                <tr>
                    <td>
                        <input class="txt_login" type="text">
                        <input class="btn_search" type="button" value="Search">
                    </td>
                </tr>
            </table>

            <br><br>    
            
            <% if (products.length != 0) { %>
                <p class="profile_products">Products On Sale </p>
            <% } else { %>
                <p class="profile_products">No Products On Sale </p>
            <% } %>
            
            <div class="container">
                <div class="row">
                    <% for (let i = products.length - 1; i > 0; i--) { %>
                    <%    let j = Math.floor(Math.random() * (i + 1)); %>
                    <%    let temp = products[i]; %>
                    <%    products[i] = products[j]; %>
                    <%    products[j] = temp; %>
                    <% } %>
                    <% for (let x = 0; x < products.length; x++) { %>
                        <%- include('../partials/browse_catalog', {products: products[x]}); %>
                    <% } %>
                </div>                
            </div> 

        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>