<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> MCM Virtual Marketplace </title>
    </head>
    <body style="background:white">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <ul class="menu">
                <li class="menu"><a href="/">All Categories</a></li>
                <li class="menu"><a href="/">Health & Beauty</a></li>
                <li class="menu"><a href="/">Food</a></li>
                <li class="menu"><a href="/">Digital Products</a></li>
                <li class="menu"><a href="/">Electronics</a></li>
            </ul>

            <table>
                <tr>
                    <td>
                        <input class="txt_login" type="text">
                        <input class="btn_search" type="button" value="Search">
                    </td>
                </tr>
            </table>

            <br><br>

            <table>
                <tr>
                    <td class="catalog">
                        <table>
                            <tr>
                                <td>
                                    <img src="../../images/logo.png" alt="logo" width="100" height="100">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Item #1<br>₱100.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="btn_search" type="button" value="Order Now">
                                    <input class="btn_search" type="button" value="Learn More">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="catalog">
                        <table>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="catalog">
                        <table>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="catalog">
                        <table>
                            <tr>
                                <td>
                                    <img src="../../images/logo.png" alt="logo" width="100" height="100">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Item #1<br>₱100.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="btn_search" type="button" value="Order Now">
                                    <input class="btn_search" type="button" value="Learn More">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="catalog">
                        <table>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="catalog">
                        <table>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>