<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>404 Not Found!</title>
    </head>
    <body class="alternate">
        <main>
            <div class="center">
                <div class="login_box">   
                    <div class="contents">
                        <h1 class="item"><span style="color: #C12727">404: </span>Page Not Found</h1>
                        <p class="error_caption"> Seems like the page you requested does not exist.<br />
                        You may return to the <a href="/">main page</a>.</p>
                    </div>       
                </div>
            </div>
        </main>
    </body>
</html>