<html lang="en">
    <head>
        <title>
            404 Not Found
        </title>
    </head>
    <body>
        
        

    </body>
</html>

<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> 404 Not Found! </title>
    </head>
    <body>
        <main>
            <table class="login">     
                <tr>
                    <td><p class="login_MCM"> Error Code: 404 </p></td>
                </tr>           
                <tr>
                    <td> Page not found! <a href="/"> Back to website </a></td>
                </tr>
            </table>
        </main>
    </body>
</html>