<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> 404 Not Found! </title>
    </head>
    <body>
        <main>
            <table class="login">     
                <tr>
                    <td>
                        <p class="item"> <span style="color: #C12727">404: </span>Page Not Found</p>
                        <p class="error_caption"> Seems like the page you requested does not exist. <br>
                        You may return to the <a href="/"> main page</a>.</p>
                    </td>
                </tr>           
            </table>
        </main>
    </body>
</html>