<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Profile - MCM Virtual Marketplace </title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>

            Profile
            
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>