<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Login - MCM Virtual Marketplace </title>
    </head>
    <body class="alternate"> 
        <main>
            <div class="center">
                <div class="login_box">
                    <div class="contents">
                        <br /><br />
                        <img src="../../images/logo.png" alt="logo" style="width:100px; height:100px">
                        <br /><br />
                        <h1 class="login_MCM"> Recover an Account</h1>
                        <br />
                        <form method="POST">
                            <input class="login_text" name ="email" type="email" placeholder="MCM Email Address" required>
                            <% if (errorMessage) { %>
                                <br /> <%= errorMessage %>
                            <% } %>
                            <br /><br /><br /><br />                 
                            <input class="big_button" type="submit" value="SUBMIT" />     
                            <br /><br style="line-height: 75%;" />                       
                            <p class="small_text"><a href="/login"> Back to Login </a></p>
                        </form>
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>