<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Signup - MCM Virtual Marketplace </title>
    </head>
    <body>
        <main>
            <div class="window_login">
                <table>
                    <form>
                        <caption align="top">
                            <h1>Sign up to start shopping!</h1>
                        </caption>
                        <tr>
                            <td><input type="text" name="" placeholder="First Name"></td>
                            <td><input type="text" name="" placeholder="Last Name"></td>
                        </tr>
                        <tr>
                            <td><input type="email" name="" placeholder="MCM Email Address"></td>
                            <td><input type="number" name="" placeholder="Phone Number"></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="" placeholder="Create Password"></td>
                            <td><input type="password" name="" placeholder="Confirm Password"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="" placeholder="Messenger Link"></td>
                            <td><input type="text" name="" placeholder="Instagram"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="" placeholder="Twitter"></td>
                            <td><input type="text" name="" placeholder="LinkedIn"></td>
                        </tr>
                        <tr>
                            <td><input type="submit" name="" value="CREATE ACCOUNT"></td>
                        </tr>
                    </form>
                </table>
            </div>
        </main>
    </body>
</html>