<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Signup - MCM Virtual Marketplace </title>
    </head>
    <body>
        <main>
            <table class="signup">
                <form method="POST">
                    <tr>
                        <td colspan="2"><p class="signup">Sign up to start shopping!</p></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="firstName" class="txt_signup" placeholder="First Name *" required></td>
                        <td><input type="text" name="lastName" class="txt_signup" placeholder="Last Name *" required></td>
                    </tr>
                    <tr>
                        <td><input type="email" name="email" class="txt_signup" placeholder="MCM Email Address *" required></td>
                        <td><input type="number" name="phoneNumber" class="txt_signup" placeholder="Phone Number *" required></td>
                    </tr>
                    <tr>
                        <td><input type="password" name="password" class="txt_signup" placeholder="Create Password *" required></td>
                        <td><input type="password" name="confirmPassword" class="txt_signup" placeholder="Confirm Password *" required></td>
                    </tr>
                    <tr>
                        <td> <input type="text" name="city" class="txt_signup" placeholder="City *" required> </td>
                    </tr>
                    <tr>
                        <td><input type="text" name="messengerLink" class="txt_signup" placeholder="Messenger Link"></td>
                        <td><input type="text" name="instagram" class="txt_signup" placeholder="Instagram"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="twitter" class="txt_signup" placeholder="Twitter"></td>
                        <td><input type="text" name="linkedIn" class="txt_signup" placeholder="LinkedIn"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" name="register" class="txt_signup" value="CREATE ACCOUNT"></td>
                    </tr>
                    <tr>
                        <% if (signupError) { %>
                            <td class="txt_error"> Missing Fields! </td>
                        <% } %>  
                    </tr>   
                    <tr>
                        <% if (signupExist) { %>
                            <td class="txt_error"> Email already in use! </td>
                        <% } %>  
                    </tr>                      
                </form>
            </table>
        </main>
    </body>
</html>