<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Product - MCM Virtual Marketplace </title>
    </head>
    <body style="background:white">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <br><br>
                <form method="POST">
                    <table class="view_product">
                        <tr>
                            <td rowspan="6">
                                <img src="../../images/temp.png" alt="logo" width="435" height="519">
                            </td>
                            <td class="view_product">
                                <p class="item">Item #1</p>
                                <p class="price">₱100.00</p><br>
                                <p class="error_caption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Lorem 
                                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                    ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                    tempor incididunt.
                                </p>

                                <input class="view_product" type="button" value="20 items left" disabled>  

                                <br><br><br>

                                <input class="btn_catalog" type="button" value="Order Now" id="orderProduct">  
                            </td>
                        </tr>
                    </table>

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>
                                To checkout the product, <b>contact the seller</b> through any of these platforms:<br><br>
                                <img src="../../images/icon_messenger.png" class="profile_icon" alt="messenger">
                                <img src="../../images/icon_instagram.png" class="profile_icon" alt="instagram">
                                <img src="../../images/icon_twitter.png" class="profile_icon" alt="twitter">
                                <img src="../../images/icon_linkedin.png" class="profile_icon" alt="linkedin">
                            </p>
                        </div>
                    </div> 

                </form>                           

        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <script>
            var modal = document.getElementById("myModal");
            var btn = document.getElementById("orderProduct");
            var span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {
              modal.style.display = "block";
            }
            span.onclick = function() {
              modal.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>
            
    </body>
</html>